name: Node CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install (web)
        working-directory: web
        run: npm install --no-audit --no-fund

      - name: Lint (web)
        working-directory: web
        run: npx next lint

      - name: Build (web)
        working-directory: web
        run: npx next build


